@media screen and (max-width: 1440px) {
  header {
    height: 350px;
  }

  .who-img,
  .mission-img,
  .visit-img {
    width: 400px;
    height: 350px;
  }

  .who-text h2,
  .mission-text h2,
  .visit-text h2 {
    font-size: 1.5rem;
  }

  .who-text-container,
  .mission-text-container,
  .visit-text-container {
    font-size: 1.1rem;
    width: 500px;
  }

  .footer-info-container {
    padding: 0;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 250px;
  }

  .logo img {
    width: 8rem;
  }

  .title-container {
    top: 50%;
  }

  .title-container h1 {
    font-size: 2.5rem;
  }

  .contact-btn {
    padding: 1rem 1.5rem;
  }

  .who-img,
  .mission-img,
  .visit-img {
    width: 350px;
    height: 300px;
  }

  .who-text h2,
  .mission-text h2,
  .visit-text h2 {
    font-size: 1.3rem;
  }

  .who-text-container,
  .mission-text-container,
  .visit-text-container {
    font-size: 1rem;
    height: 100%;
    width: 450px;
  }

  .support-container .support-text h2 {
    font-size: 1.2rem;
  }

  .phone-container img,
  .email-container img {
    width: 15px;
    height: 15px;
  }

  .footer-main {
    height: 400px;
  }

  .footer-info-container {
    padding: 0;
    padding-top: 2rem;
  }

  .footer-left {
    width: 25%;
  }

  .footer-logo {
    margin-left: 0.5rem;
  }

  .footer-logo {
    width: 9rem;
  }

  .footer-logo img {
    width: 100%;
  }

  .footer-right {
    margin-top: 1rem;
    gap: 3rem;
  }

  .footer-right li {
    font-size: 0.8rem;
  }
}
