:root {
  --primary-color: #fff;
  --primary-text: #000;
  --background-color: #f8f7f0;
  --secondary-text: #404a3d;
  --tertiary-color: #eddd5e;
  --green-color: #5b8c51;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Signika', Arial, sans-serif;
  min-height: 100vh;
  background-color: var(--background-color);
}

header {
  background: url('../images/contact-us-banner.jpg') lightgray 50% / cover
    no-repeat;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
  margin: 10px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: 2rem;
  gap: 1.2rem;
}

nav ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul li img {
  margin-right: 0.5rem;
}

nav ul li a {
  color: var(--primary-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

nav .contact-btn {
  margin-left: auto;
}

.contact-btn {
  display: flex;
  padding: 1.2rem 2rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--tertiary-color);
  transition: background-color 0.2s ease;
}

.contact-btn:hover {
  background-color: #dfcf57;
}

.contact-btn a {
  color: var(--primary-text);
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
}

.menu-btn {
  height: 60px;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  position: relative;
}

.menu-btn label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-btn img {
  cursor: pointer;
}

.menu-btn .menu-links {
  display: none;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  background-color: var(--tertiary-color);
  padding: 0.8em;
  position: absolute;
  right: -2rem;
}

.menu-links a {
  color: var(--primary-text);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

#menu {
  display: none;
}

#menu:checked ~ .menu-links {
  display: flex;
}

.title-container {
  position: absolute;
  left: 13%;
  top: 45%;
}

.title-container h1 {
  font-size: 3.5rem;
  color: var(--primary-color);
  font-style: normal;
  font-weight: 500;
}

.header-cite {
  position: absolute;
  bottom: 5%;
  margin-left: 1rem;
}

.header-cite a {
  color: white;
  text-decoration: none;
}

footer .support-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--tertiary-color);
}

.support-container .support-text h2 {
  font-style: normal;
  font-weight: 500;
}

.support-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.phone-container img,
.email-container img {
  width: 20px;
  height: 20px;
}

.phone-container,
.email-container {
  display: flex;
  padding: 0.8rem;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: var(--background-color);
}

.footer-main {
  padding: 1rem;
  background-color: var(--primary-color);
  height: 400px;
}

.footer-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 10rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 17%;
  color: #404a3d;
  font-size: 1rem;
  line-height: 1.8;
}

.footer-left p,
.footer-left .social-media {
  margin-left: 1rem;
}

.social-media {
  display: inline-flex;
  gap: 1rem;
  width: auto;
  max-width: 100%;
}

.social-media img {
  background-color: var(--background-color);
  width: 20px;
  height: 20px;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 10px;
  cursor: pointer;
}

.footer-right {
  display: flex;
  align-self: flex-start;
  margin-top: 2rem;
  gap: 5rem;
}

.footer-right h4 {
  color: var(--secondary-text);
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.footer-right li {
  font-weight: 300;
  list-style-type: none;
  gap: 1rem;
}

.footer-right li:not(:last-child) {
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 1440px) {
  header {
    height: 350px;
  }

  .footer-info-container {
    padding: 0;
    padding-top: 2rem;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 250px;
  }

  .logo img {
    width: 8rem;
  }

  .title-container {
    top: 50%;
  }

  .title-container h1 {
    font-size: 2.5rem;
  }

  .contact-btn {
    padding: 1rem 1.5rem;
  }
  .support-container .support-text h2 {
    font-size: 1.2rem;
  }

  .phone-container img,
  .email-container img {
    width: 15px;
    height: 15px;
  }

  .footer-main {
    height: 400px;
  }

  .footer-info-container {
    padding: 0;
    padding-top: 2rem;
  }

  .footer-left {
    width: 25%;
  }

  .footer-logo {
    margin-left: 0.5rem;
  }

  .footer-logo {
    width: 9rem;
  }

  .footer-logo img {
    width: 100%;
  }

  .footer-right {
    margin-top: 1rem;
    gap: 3rem;
  }

  .footer-right li {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 769px) {
  .menu-btn {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  header {
    height: 200px;
    overflow: visible;
  }

  nav ul,
  .contact-btn {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .menu-btn .menu-links {
    overflow-y: visible;
    gap: 0.7rem;
    z-index: 1;
  }

  .menu-btn a {
    font-size: 0.8rem;
  }

  .title-container h1 {
    font-size: 2rem;
  }

  .contact-btn {
    padding: 0.8rem 1.3rem;
  }

  .support-container .support-text h2 {
    font-size: 1rem;
  }

  .support-container p {
    font-size: 0.8rem;
  }

  .phone-container img,
  .email-container img {
    width: 12px;
    height: 12px;
  }

  .footer-main {
    height: 300px;
  }

  .footer-info-container {
    padding: 0;
    padding-top: 2rem;
    gap: 5rem;
  }

  .footer-left {
    width: 40%;
    font-size: 0.8rem;
    gap: 1rem;
  }

  .footer-logo {
    margin-left: 0.5rem;
  }

  .footer-logo {
    width: 8rem;
  }

  .footer-logo img {
    width: 100%;
  }

  .footer-right {
    margin-top: 1rem;
    gap: 2rem;
  }

  .footer-right li {
    font-size: 0.7rem;
  }
}

@media screen and (max-width: 480px) {
  header {
    height: 150px;
  }

  .header-cite a {
    font-size: 0.5rem;
  }

  .menu-btn {
    margin: 0;
  }

  .menu-btn .menu-links {
    gap: 0.5rem;
  }

  footer .support-container {
    flex-direction: column;
  }

  .support-container .support-text {
    text-wrap: nowrap;
    padding-bottom: 1rem;
  }

  .phone-container,
  .email-container {
    padding: 0.5rem;
  }

  .footer-main {
    height: 100%;
  }

  .footer-info-container {
    flex-direction: column;
    gap: 3rem;
  }

  .footer-left {
    width: 100%;
    padding: 1rem;
  }

  .footer-right {
    order: -1;
  }
}
