:root {
  --primary-color: #fff;
  --primary-text: #000;
  --background-color: #f8f7f0;
  --secondary-text: #404a3d;
  --tertiary-color: #eddd5e;
  --green-color:#5b8c51;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Signika', Arial, sans-serif;
  min-height: 100vh;
  background-color: var(--background-color);
}

header {
  background: url('../images/contact-us-banner.jpg') lightgray 50% / cover
    no-repeat;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
  margin: 10px;
  position: relative;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
  margin-left: 2rem;
  gap: 1.2rem;
}

nav ul li {
  display: flex;
  align-items: center;
  list-style-type: none;
}

nav ul li img {
  margin-right: 0.5rem;
}

nav ul li a {
  color: var(--primary-color);
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
}

nav .contact-btn {
  margin-left: auto;
}

.contact-btn {
  display: flex;
  padding: 1.2rem 2rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 30px;
  background: var(--tertiary-color);
}

.contact-btn a {
  color: var(--primary-text);
  text-decoration: none;
  display: flex;
  gap: 0.5rem;
}

.menu-btn {
  height: 60px;
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  position: relative;
}

.menu-btn label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-btn img {
  cursor: pointer;
}

.menu-btn .menu-links {
  display: none;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  background-color: var(--tertiary-color);
  padding: 0.8em;
  position: absolute;
  right: -2rem;
}

.menu-links a {
  color: var(--primary-text);
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

#menu {
  display: none;
}

#menu:checked ~ .menu-links {
  display: flex;
}

.title-container {
  position: absolute;
  left: 13%;
  top: 40%;
}

.title-container h1 {
  font-size: 3.5rem;
  color: var(--primary-color);
  font-style: normal;
  font-weight: 500;
}

footer .support-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  background-color: var(--tertiary-color);
}

.support-container .support-text h2 {
  font-style: normal;
  font-weight: 500;
}

.support-info {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.phone-container img,
.email-container img {
  width: 20px;
  height: 20px;
}

.phone-container,
.email-container {
  display: flex;
  padding: 0.8rem;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  background: var(--background-color);
}

.footer-main {
  padding: 1rem;
  background-color: var(--primary-color);
  height: 400px;
}

.footer-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
  gap: 10rem;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 17%;
  color: #404a3d;
  font-size: 1rem;
  line-height: 1.8;
}

.footer-left p,
.footer-left .social-media {
  margin-left: 1rem;
}

.social-media {
  display: inline-flex;
  gap: 1rem;
  width: auto;
  max-width: 100%;
}

.social-media img {
  background-color: var(--background-color);
  width: 20px;
  height: 20px;
  padding: 10px;
  box-sizing: content-box;
  border-radius: 10px;
  cursor: pointer;
}

.footer-right {
  display: flex;
  align-self: flex-start;
  margin-top: 2rem;
  gap: 5rem;
}

.footer-right h4 {
  color: var(--secondary-text);
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.footer-right li {
  font-weight: 300;
  list-style-type: none;
  gap: 1rem;
}

.footer-right li:not(:last-child) {
  margin-bottom: 0.5rem;
}
