@import url(common.css);

header{
    background-image: url(../images/hero-image.jpg);
}

.title-container{
    position:relative;
    top:10%;
    left:0%;
    text-align: center;
}

.title-container h1{
    font-weight: 1000;
    font-size:5rem;
}

.title-container h2{
    color: white;
    font-size: 3rem;
    font-weight: 500;
}

.white{
    background-color: white;
    color: black;
}

.about-btn{
    border:none;
    margin-left:47%;
}



.content-box{
    display: grid;
    background-color: white;
    border-radius: 30px;
    margin: 5% 5%;
    grid-template-columns: 1fr 1fr;
    gap:50px;
}

.content-left{
    border-radius: 30px;
}

.content-left img{
    object-fit: cover;
    border-radius: 30px;
    height: 70%;
    max-width: 90%;
    margin-top: 15%;
    margin-left: 15%;
}

.content-right{
    margin:15% 5%;
}

.content-right img{
    border-radius: 30px;
    width: 90%;
    max-height: 40%;
    object-fit: cover;
}

.content-text{
    padding: 5%;
}

.contact-btn{
    background-color: var(--green-color);
    max-width: 50%;
}

.contact-btn a{
    color:white;
}
.content-text h3{
    color:rgb(47, 47, 47);
    margin-bottom: 20px;    
}

.content-lists ul{
    list-style-image: url(../svg/checkmark.svg);
}

#rotate{
    display: flex;
    gap:50px;
}

.rotate-container{
    margin-left: 5%;
}
.rotate-container span{
    color: var(--background-color);
    text-shadow: 1px 1px 0px rgba(64, 74, 61, 0.50), -1px -1px 0px rgba(64, 74, 61, 0.50), 1px -1px 0px rgba(64, 74, 61, 0.50), -1px 1px 0px rgba(64, 74, 61, 0.50), 1px 1px 0px rgba(64, 74, 61, 0.50);
    font-family: Signika;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: 7.5rem; /* 120% */

}

.habits-container{
    background-color: var(--green-color);
    color:white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
}

.habits-header{
    padding:10%;
}

.habits-main{
    padding:10%;
}

.habits-img{
    background-color: white;
    text-align: center;
    padding: 2% 0;
    border-radius: 20px;
}

.habits-img img{
    object-fit: cover;
    max-height: 400px;
    border-radius: 20px;
}
.habits-title{
    margin-bottom: 5%;
}

.habits-title h1{
    font-size: 3rem;
    font-weight: 500;
}


.habit-tip{
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid rgb(255, 254, 254);
    padding:5% 0 3% 0;
    justify-content:space-evenly;
    align-items: flex-start;
}

.habit-tip h2{
    color: var(--green-color);
    text-shadow: 1px 1px 0px white, -1px -1px 0px white, 1px -1px 0px white, -1px 1px 0px white, 1px 1px 0px white;
    font-family: Signika;
    font-size: 3rem;
    font-style: normal;
    font-weight: 700;
}

.habit-tip h3{
    padding-top: 1%;
    font-size:1.5rem;
    text-align: left;
}

.habit-tip p{
    padding-top: 2%;
}

.habit-tip h3, 
.habit-tip p {
    min-width: 200px; /* Forces text to have consistent width */
}



